
@{
    ViewBag.Title = "Login";
}
@model Task1.Models.Admin
<h2>Login</h2>
<div>
    <form action="" method="post">

        <input type="text" name="UserName" class="form-control" placeholder="username">
        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        <input type="password" name="Password" class="form-control" placeholder="Password..">
        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
    <span class="text-danger"> >@ViewBag.Message</span>

        <input type="submit" class="btn btn-block" value="Login" />
    </form>
</div>

