
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav slimscrollsidebar">
        <div class="sidebar-head">
            <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
        </div>
        <ul class="nav" id="side-menu">
            <li style="padding: 70px 0 0;">
                <a href="#!demo" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Dashboard</a>
            </li>

  <li>
                <a  href="#!products" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Products</a>
            </li>
  <li>
                <a href="#!addproducts" class="waves-effect"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add Product</a>
            </li>
  <li>
                <a  href="#!category" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Categories</a>
            </li>
  <li>
                <a  href="#!addcategory" class="waves-effect"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Add Category</a>
            </li>

            <li>
                          <a  href="#!neworder" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>New Order</a>
                      </li>
            <li>
                          <a href="#!orderdetail" class="waves-effect"><i class="fa fa-plus fa-fw" aria-hidden="true"></i>Order Detail</a>
                      </li>
        </ul>

    </div>

</div>
